<header pageTitle="{{this._language.langDataFinal.aboutUs.pageTitle}}" iconTitle="info" helpTitle="Aboutushelp"></header>
<mat-tab-group>
        <mat-tab label="{{this._language.langDataFinal.aboutUs.label1}}"><browse></browse></mat-tab>
        <mat-tab label="{{this._language.langDataFinal.aboutUs.label2}}"> <terms></terms> </mat-tab>
        <mat-tab label="{{this._language.langDataFinal.aboutUs.label3}}"> <faq></faq> </mat-tab>
        <mat-tab label="{{this._language.langDataFinal.aboutUs.label4}}"> <location></location> </mat-tab>
        <mat-tab label="{{this._language.langDataFinal.aboutUs.label5}}"> <about></about> </mat-tab>
</mat-tab-group>
    