<header pageTitle="{{this._language.langDataFinal.adminTab.pageTitle}}" iconTitle="build" helpTitle="AdministrativeHelp"></header>
<mat-tab-group>
    <mat-tab label="{{this._language.langDataFinal.adminTab.label1}}" > <adminusers></adminusers> </mat-tab>
    <mat-tab label="{{this._language.langDataFinal.adminTab.label2}}"> <setproduct></setproduct> </mat-tab>
    <mat-tab label="{{this._language.langDataFinal.adminTab.label3}}"> <admincarts></admincarts> </mat-tab>
    <mat-tab label="{{this._language.langDataFinal.adminTab.label4}}"><adminorders></adminorders></mat-tab>
    <mat-tab label="{{this._language.langDataFinal.adminTab.label5}}"> <category></category> </mat-tab>
    <mat-tab label="{{this._language.langDataFinal.adminTab.label6}}"><administratives></administratives></mat-tab>
</mat-tab-group>